html,
body {
  font-family: "Amazon Ember";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: #150442;
  padding: 1rem 1rem;
}

#search_btn {
  background-color: #75db00;
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
}

#login_btn,
#view_btn {
  background-color: #75db00;
  padding: 0.4rem 1.8rem;
  font-family: calibri;
}
#login_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  background: linear-gradient(to right, red, purple);
  border: none;
}

#cart {
  font-size: 1rem;
  color: white;
}
#cart:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  background: linear-gradient(to right, red, purple);
  border: none;
  padding: 0.2rem 0.9rem;
  border-radius: 5px;
  text-decoration: none;
}

#cart_count {
  background-color: #75db00;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Home page */
#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  background-image: linear-gradient(red, blue);
  color: transparent;
  background-clip: text;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background: linear-gradient(to right, red, purple);
  color: white;
  transition: 2s;
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  background: linear-gradient(to right, red, purple);
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 2rem;
  transition: 0.2s;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 9rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #75db00;
  border-color: #75db00 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
  min-width: 350px;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #75db00;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background: linear-gradient(to right, red, purple);
  border: none;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #75db00;
  border-color: #75db00;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  min-width: 300px;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}
.plus:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}
.minus:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}
.input-text {
  font-size: 20px;
}
.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #75db00;
  border-color: #75db00;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}
#login_button {
  background: linear-gradient(to right, red, purple);
}
#login_button:hover {
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  border: none;
}
#register_button {
  background: linear-gradient(to right, red, purple);
}
#register_button:hover {
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  border: none;
}
/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
  min-width: 500px;
}
.minwidth350 {
  min-width: 350px;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #75db00;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #75db00;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #75db00;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #75db00;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}
#shipping_btn {
  background: linear-gradient(to right, red, purple);
  border: none;
}
#shipping_btn:hover {
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  border: none;
}
/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background: linear-gradient(to right, red, purple);
  border: none;
}
#edit_profile:hover {
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  border: none;
}
#myOrders_button:hover {
  background: linear-gradient(to right, rgb(248, 7, 7), rgb(255, 255, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  border: none;
}
#cPassword_button:hover {
  background: linear-gradient(to right, rgb(240, 233, 233), rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  border: none;
}
/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background: linear-gradient(to right, red, purple);
  color: white;
}

.update-btn:hover {
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
  border: none;
}

/* Pagination */
.page-item.active {
  background-color: #75db00;
  border-color: #4900db;
  background: linear-gradient(to right, red, purple);
}

.page-link {
  color: #6600db;
  border-color: #4900db;
}

.page-link:hover {
  border: none;
  color: white;
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #150442;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #150442;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #150442;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.9em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #150442;
  background: #fff;
}
#sidebar ul li div.dropdown-menu a {
  color: black;
}
#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #150442;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #150442;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}
.review-card {
  border: 1px solid rgb(79, 7, 223);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px;
  min-width: 250px;
}
.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #75db00;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}
#product-card-back {
  position: relative;
  background: linear-gradient(to right, red, purple);
}

#product-card {
  border-image: linear-gradient(to right, #f34aeb 0%, #0c2aec 100%) 1;
  transition: 0.3s;
  border-width: 2px;
  border-style: solid;
  min-width: 300px;
}
#product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}
#view_btn:hover {
  transition: 2s;
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
}

#review_btn:hover {
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}
#cart_btn:hover {
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}
#checkout_btn:hover {
  background: linear-gradient(to right, purple, rgb(47, 0, 255));
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}
#delete_cart_item:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 25px;
}
#productContainer {
  display: flex;
  justify-content: center;
}
.dropdown-bg:hover {
  background-color: #dff087;
}
.cart-header:hover {
  text-decoration: none;
}
.toggle-bar {
  display: none;
}
.filterBox1 {
  font-size: 20px;
}
.filterBox1 h3 {
  font-size: 30px;
}
.filterBox1 li:hover {
  font-size: 20px;
  background-color: rgb(81, 0, 255);
  border-radius: 5px;
}
.slider-bar {
  min-width: 250px;
}
.order-details p {
  font-size: 20px;
}
.order-details h4 {
  font-size: 30px;
}
.order-detail-row {
  display: flex;
  justify-content: space-between;
}
.cart-items-row {
  min-width: 400px;
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    display: flex;
    justify-content: center;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    width: 80vw;
  }
  .avatar-profile-image {
    display: flex;
    justify-content: center;
  }
  .profile-content {
    text-align: center;
  }
  .profile-content p {
    font-size: 20px;
  }
  .profile-content h4 {
    font-size: 30px;
  }
  .toggle-icon {
    display: flex;
    justify-content: center;
    background-color: rgb(81, 0, 255);
    width: 80px;
  }
  .toggle-bar {
    display: flex;
    justify-content: end;
    background-color: white;
  }
  .filterBox1 {
    display: none;
  }
  .border1 {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .filterBox {
    min-width: 300px;
    font-size: 20px;
  }
  .filterBox h3 {
    font-size: 30px;
  }
  .filterBox li:hover {
    background-color: rgb(81, 0, 255);
    border-radius: 5px;
  }
  .slider-bar {
    min-width: 250px;
  }
  #products {
    display: flex;
    justify-content: center;
  }
  .order-details h1 {
    font-size: 30px;
  }
  .order-detail-row {
    flex-direction: column;
    min-width: 350px;
  }
  .cardInfo {
    min-width: 400px;
  }
  .toggle-sidebar {
    max-height: 300px;
  }
  .sidebar-wrapper {
    min-height: 200px;
  }
}
.confirmOrder-amount {
  min-width: 300px;
}
.toggle-sidebar {
  max-height: 300px;
}
